main.article-page {
  section.content {
    max-width: 1120px;
    margin: 66px auto;

    @media screen and (max-width: 1220px) {
      margin: 66px 50px;
    }
    @media screen and (max-width: 767px) {
      margin: 50px 35px;
    }

    .two-column {
      display: flex;
      .column {
        flex: 1 1 70%;
        &:last-child {
          flex: 1 1 30%;
        }
      }
      @media screen and (max-width: 1220px) {
        flex-direction: column;
      }
    }

    p.sticker {
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;

      &:before {
        content: '';
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-right: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 120px;
        color: white;
        font-weight: 600;
        font-size: 40px;
        vertical-align: middle;

        @media screen and (max-width: 900px) {
          display: block;
          margin-bottom: 30px;
        }
      }

      &.yes:before {
        content: 'JA';
        background: #37B76A;
      }
      &.no:before {
        content: 'NEE';
        background: #EE4C77;
      }

      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    section.links {
      background: #F9FBFC;
      border-radius: 12px;
      padding: 50px;

      h1 {
        margin-top: 0px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #1D293F;
      }

      ul {
        margin-left: 2em;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #5840DD;

        a {
          text-decoration: none;
        }
      }
    }

    section.share {
      text-align: center;

      button {
        background-color: #6666FF;
        border: 1px solid navy;
        padding: 1em 2em;
        margin: 2em;
        border-radius: 0.5em;
        color: white;
      }
    }

    h1, h2, h3, h4, h5, p {
      margin: 1em 0;
      color: #1C3C7C;
    }

    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 140%;
    }

    h2 {
      margin: 4em 0 1em 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      &.articles {
        text-align: center;
      }
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #2F3135;
    }

    @media screen and (max-width: 767px) {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}
