* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  background-color: white;
  color: #555555;
  font-family: 'Inter', Tahoma, Arial, sans-serif;
}
