ul.breadcrumbs {
  list-style: none;

  li {
    display: inline-block;
    padding: 0px 56px 0px 0px;
    background-image: url('./chevron.svg');
    background-position: right 24px center;
    background-repeat: no-repeat;

    &:last-child {
      background: none;
    }

    a {
      font-weight: 400;
      font-size: 20px;
      color: #4F5157;
      text-decoration: none;
    }
  }
}
