ul.child-articles {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em auto;

  li {
    width: 200px;
    height: 200px;
    padding: 1em;
    border: 1px solid #EEEEEE;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }
  }
}
