.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);

  .search-modal, .share-modal {
    background-color: white;
    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
    border-radius: 16px;

    @media screen and (max-width: 767px) {
      width: 100% !important;
      height: 100%;
      border: 0;
      border-radius: 0;
    }
  }

  .search-modal {
    position: relative;
    width: 1000px;
    height: auto;
    max-height: calc(100vh - 200px);
    align-self: flex-start;
    margin: 100px auto;
    overflow: hidden;

    form {
      input {
        display: block;
        width: 100%;
        height: 68px;
        padding: 11px 50px;

        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #7B7E85;
        border-radius: 16px;
        outline: none;
        border: none;

        background-image: url('./images/search.svg');
        background-repeat: no-repeat;
        background-position: left 22px center;
      }

      button.close {
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 36px;
        height: 36px;

        background: #F8FAFB url('./images/close.svg');
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
      }
    }

    ul {
      max-height: calc(100vh - 200px - 69px);
      list-style: none;
      overflow-y: scroll;
      border-top: 1px solid #D8DBE4;

      li {
        border-bottom: 1px solid #EBEEF3;

        a {
          display: block;
          padding: 16px;
          margin: 6px 16px;

          text-decoration: none;
          color: black;
          border-radius: 12px;

          &:hover {
            background-color: #F8FAFB;
          }

          h1 {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #1C3C7C;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #4F5157;
          }

          mark {
            background-color: #d2effd;
          }
        }
      }
    }
  }

  .share-modal {
    position: relative;
    width: 420px;
    height: 364px;
    padding: 28px;

    button.close {
      display: block;
      position: absolute;
      top: 28px;
      right: 28px;
      width: 36px;
      height: 36px;

      background: #F8FAFB url('./images/close.svg');
      background-position: center;
      background-repeat: no-repeat;
      border: 0;
      outline: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 0;
    }

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #1C3C7C;
    }

    ul {
      margin: 35px 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li {
        flex: 0 0 56px;

        a {
          display: block;
          width: 100%;
          height: 100px;
          font-weight: 500;
          font-size: 14px;
          line-height: 38px;
          text-decoration: none;
          color: #4F5157;
          text-align: center;

          &:before {
            content: '';
            display: block;
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
          }

          &.twitter {
            &:before {
              background-color: #E5F7FF;
              background-image: url('./images/twitter.svg');
            }
            &:hover:before {
              background-color: darken(#E5F7FF, 3%);
            }
          }
          &.facebook {
            &:before {
              background-color: #E6F1FF;
              background-image: url('./images/facebook.svg');
            }
            &:hover:before {
              background-color: darken(#E6F1FF, 3%);
            }
          }
          &.whatsapp {
            &:before {
              background-color: #E7FFE3;
              background-image: url('./images/whatsapp.svg');
            }
            &:hover:before {
              background-color: darken(#E7FFE3, 3%);
            }
          }
          &.e-mail {
            &:before {
              background-color: #F8FAFB;
              background-image: url('./images/email.svg');
            }
            &:hover:before {
              background-color: darken(#F8FAFB, 3%);
            }
          }
        }
      }
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #4F5157;
      margin: 1em 0;
    }

    .share-url {
      display: flex;

      span {
        display: block;
        flex: 1 1 auto;
        height: 48px;
        padding: 16px;

        background: #F8FAFB;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #89929C;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      button {
        height: 48px;
        width: 48px;
        background: #0FA5FF url('./images/copy.svg');
        border: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &:hover {
          background-color: darken(#0FA5FF, 5%);
        }
      }

      &.shared {
        button:before {
          content: 'Gekopieerd';
          position: relative;
          display: block;
          width: 84px;
          height: 36px;
          top: -14 - 36px;
          left: -18px;

          background: #0C1421;
          border-radius: 4px;
          font-weight: 400;
          font-size: 13px;
          line-height: 36px;
          color: white;
          cursor: default;
        }
        button:after {
          content: '';
          position: relative;
          display: block;
          top: -14 - 36px;
          left: 20px;
          width: 0px;
          height: 0px;

          border-top: 6px solid #0C1421;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          cursor: default;
        }
      }
    }
  }
}
