aside.sidebar {
  padding: 2em;

  h1 {
    font-size: 1.2em;
    margin: 1em 0;
  }

  section.share {
    text-align: center;

    button {
      background-color: #6666FF;
      border: 1px solid navy;
      padding: 1em 2em;
      margin: 2em;
      border-radius: 0.5em;
      color: white;
    }
  }

  section.links {
    border: 1px solid #EEEEEE;
    margin: 2em 0;
    padding: 2em;

    h1 {
      margin-top: 0px;
    }

    ul {
      margin-left: 2em;
    }
  }
}
