aside.sticker {
  padding: 2em;

  h1 {
    font-size: 1.2em;
    margin: 1em 0;
  }

  p.sticker {
    display: block;
    width: 100px;
    height: 100px;
    margin: 2em auto;

    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
    transform: rotateZ(-10deg);
    text-shadow: 0px 0px 3px #555555;
    font-size: 1.3em;

    &.yes {
      background: radial-gradient(#0D0 0%, #070 100%);
    }
    &.no {
      background: radial-gradient(#E88 0%, #900 100%);
    }
  }
}
